<% if notice.present? %>
  <div class="flash flash--notice" role="status"><%= notice %></div>
<% end %>
<% if alert.present? %>
  <div class="flash flash--alert" role="alert"><%= alert %></div>
<% end %>
